body {
	background-color:#c7c6c6;
}
#main {
	background:url("../images/ssshh.png") no-repeat right 20px;
}
#main>div>div.col-md-8 {
	padding-top:110px;
}
.tab-content form {
	margin-top:20px;
}
.tab-content .col-sm-6 input {
	width:100%;
}
.tab-content .col-sm-6 .help-block {
	margin-bottom:0;
}
.tab-content .btn {
	margin-top:30px;
}
.link-black {
	color:#333 !important;
	text-decoration:none !important;
}
a[data-toggle="popover"] {
	text-decoration:none !important;
}
/* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {
	 #main {
		 background:url("../images/ssshh.png") no-repeat center 20px;
	 }
	#main>div>div.col-md-8 {
		padding-top:360px;
		text-align:center;
	}
}